gradio
requests
pandas
python-dotenv

langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

pypdf
beautifulsoup4
lxml
docx2txt
openpyxl
